
    p {
    	font-size: 36px;
    	font-family: courier;
    }


    #hintBox {
      position: absolute;
      top: 100px;
      left: 400px;
      font-family: courier;
      font-size: 18px;
      width: 300px;
    }

    #displayStage {
      top: 320px;
      position: absolute;
      font-size: 36px;
      font-family: courier;
      font-weight: bold;
    }

    #message {
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      font-family: courier;
      top: 430px;
    }

    #charsUsed {
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      font-family: courier;
      top: 400px;
    }

    #maxAttempts {
      position: absolute;
      top: 370px;
      font-size: 24px;
      font-weight: bold;
      font-family: courier;
      width: 400px;
    }

    #bodywrap {
      text-align: center;;
      width: 150px;
      font-size: 60px;
      color: black;
      font-weight: bold;
      border: 0px;
      padding: 0px;
      margin: 0px;
      border-left: 75px;
      border-top: 75px;
      border-color: brown;
    }
